@use "../util" as *;


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: rem(15);

    @include breakpoint(large) {
        margin-inline: rem(25);
        margin-block: rem(20);
        justify-content: space-between;
    }

    &__logo {
        grid-area: logo;
        
        .logo {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    &__nav {
        margin-left: rem(10);
        
        @include breakpoint(large) {
            margin: 0;
        }
        
        ul {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            vertical-align: middle;

            li {
                padding-inline-start: rem(10);

                :hover {
                    color: var(--DesaturatedBlue);
                }

                @include breakpoint(large) {
                    padding: rem(15);
                }

                a {
                    font-size: rem(15);
                    color: var(--VeryDarkBlue);
                }
            }
        }
    }  
}

   

.first {
    
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        

        @include breakpoint(large) {
           flex-direction: row-reverse;
           flex-wrap: nowrap;
           align-items:center;
           margin: rem(15);
        }

        &__image {

            @include breakpoint(large) {
                width: 50%;
                margin-right: rem(15);
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }



        &__heading {
            text-align: center;
            padding: rem(10);
            margin-inline: rem(15);
            
            
            @include breakpoint(large) {
                font-size: rem(20);
                text-align: left;
                width: 80%;
                padding: rem(20);
            }

            h1 {
                line-height: 1.5;
                font-size: rem(30);
                
            }
        }

        &__explain {
            padding-block: rem(10);
            color: var(--VeryDarkBlue);
            font-size: rem(18);
            font-weight: 400;
            text-align: center;
            line-height: 1.6;
            margin: 0 rem(5);

            @include breakpoint(large) {
                font-size: rem(18);
                text-align: left;
                width: 80%;
                padding: rem(20);
            }

        }

        &__getstarted {

            form { 
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 95%;
                margin: auto;

                @include breakpoint(large) {
                    flex-wrap: nowrap;
                    justify-content: start;
                    margin: 0;
                    padding: rem(20);
                }
                        
                input[type="email"] {
                    align-self: center;
                    border: rem(2) solid var( --DesaturatedBlue);
                    border-radius: rem(4);
                    padding: rem(15);
                    width: 100%;
                    margin-block-start: rem(15);
                    font-size: rem(18);

                    @include breakpoint(large) {
                        width: 50%;
                        position: relative;
                    }
                }

                 
                p {
                    margin-bottom: rem(15);
                    margin-top: rem(5);
                    
                    @include breakpoint(large) {
                        position: absolute;
                        margin: rem(5) 0 0 rem(35);
                        left: 0;
                        top: 410px;
                    }
                }

                input[type=button] {
                    align-self: inherit;
                    border: none;
                    border-radius: rem(4);
                    width: rem(400);
                    padding: rem(15);
                    text-align: center;
                    align-self: center;
                    background: var(--BrightBlue);
                    color: var(--LightGrayishBlue);
                    font-size: rem(18);
                    font-weight: 700;
                    width: 100%;
                    cursor: pointer;

                    @include breakpoint(large) {
                        width: 25%;
                        margin-left: rem(20);
                        margin-top: rem(15);
                    }

                    &:hover {
                        opacity: 0.9;
                    }
                }

                
            }
        } 
    }
        
    
}

.second {
    grid-area: div2;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;


        @include breakpoint(large) {
            justify-content: baseline;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            padding-inline: rem(20);
        }

        &__image {
            margin-bottom: rem(50);
            margin-top: rem(50);
            
            @include breakpoint(large) {
                width: 35%;
                height: auto;
                margin: 0;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }

       

        &__heading {
            padding-block: rem(15);
            text-align: center;
            color: var(--VeryDarkBlue);

            @include breakpoint(large) {
                width: 80%;
                text-align: start;
                padding-left: rem(15);
                font-size: rem(20);
            }
        }

        &__explain {
            padding: rem(10);
            text-align: start;
            color: var(--DesaturatedBlue);
            font-size: rem(18);

            @include breakpoint(large) {
                text-align: left;
                width: 60%;
            }

            p {
                margin-bottom: rem(15);
            }
        }

        &__work {
            display: flex;
            justify-content: center;
            flex-direction: row;

            @include breakpoint(large) {
                justify-content: start;
                padding-left: rem(10);
            }
         
            :hover {
                color: rgba(60, 159, 143, 80%);
            }

            a {
                color: var(--ModerateCyan);
                border-bottom: rem(2) solid var(--ModerateCyan);
                padding: rem(5);
                font-size: rem(18);
                
                img {
                    margin-left: rem(8);
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
        }

        &__comment {
            
            box-shadow: 0 0 rem(7) rem(3) #BCBCBC;
            padding: rem(10);
            border-radius: rem(5);
            background: var(--LightGrayishBlue);
            width: 95%;
            margin: rem(30) auto;

            @include breakpoint(large) {
                margin-right: rem(50);
                width: 50%;
                margin: rem(30) 0;
            }

            .quote {
                max-width: 100%;
                height: auto;
                margin: rem(20) rem(0) rem(10) rem(8);
            }
            
            p {
                padding-left: rem(8);
                color: var(--VeryDarkBlue);
                font-size: rem(18);
            }

            .author {
                display: flex;
                justify-content: start;
                align-items: center;
                padding: rem(15) rem(8);

               .box { 

               img {
                   border-radius: 50%;
                   max-width: 100%;
                   height: auto;
                   
               }
            }
                .box2{
                padding-left: rem(6);
                text-align: start;
                
                p {
                   margin-bottom: rem(2);
                   font-size: rem(16);
                   font-weight: 700;
                   
                }
               
               span {
                    color: var(--DesaturatedBlue);
                    font-size: rem(13);
                    font-weight: 400;
                }
            }
            }
        }
    }
}

.third {
    grid-area: div3;
    background: var(--DesaturatedBlue);
   
    .card {   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: rem(50) rem(15) rem(50) rem(15);
        color: var(--LightGrayishBlue);

        @include breakpoint(large) {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &__acces {
            margin-bottom: rem(15);
            font-size: rem(20);
            text-align: center;

            @include breakpoint(large) {
                text-align: left;
                padding: rem(15);
            }
        }

        &__explain {
            margin-bottom: rem(15);
            font-size: rem(18);
            padding: rem(10);
            text-align: center;
            
            @include breakpoint(large) {
                text-align: left;
                padding: rem(15);
                width: 70%;
            }
        }

        form { 
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;

            @include breakpoint(large) {
                justify-content: start;
                width: 70%;
            }
                    
            input[type=email] {
                align-self: center;
                border: rem(2) solid var( --DesaturatedBlue);
                border-radius: rem(4);
                padding: rem(15);
                width: 100%;
                margin: rem(15);
                font-size: rem(17);
                text-decoration: none;

                @include breakpoint(large) {
                   align-self: baseline;
                   width: 90%;
                }
            }

            p {
                margin-bottom: rem(15);
                color: var(--LightGrayishBlue) !important;
                margin-left: rem(5);

                @include breakpoint(large) {
                    margin-left: rem(20);
                }
            }

            input[type=button] {
                border: none;
                border-radius: rem(4);
                width: 100%;
                padding: rem(15);
                text-align: center;
                align-self: center;
                background: var(--BrightBlue);
                color: var(--LightGrayishBlue);
                font-size: rem(17);
                font-weight: 700;
                cursor: pointer;

                @include breakpoint(large) {
                    width: rem(200);
                    align-self: baseline;
                    font-size: rem(15);
                    margin-left: rem(17);
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            
        }
        
    }

    
}

.footer {
    grid-area: footer;
    background: var(--VeryDarkBlue);
    width: 100%;
    padding: rem(30);

    @include breakpoint(large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    &__logo {
        margin-bottom: rem(20);

        @include breakpoint(large) {

        }
         
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__phone{
        font-size: rem(17);
        color: var(--LightGrayishBlue);


        img {
            max-width: 100%;
            height: auto;
            margin: rem(10);
            vertical-align: middle;
        }
    }

    &__mail {
        font-size: rem(17);
        color: var(--LightGrayishBlue);

        img {
            max-width: 100%;
            height: auto;
            margin: rem(10);
            vertical-align: middle;
        }
    }

    &__nav-first {

        @include breakpoint(large) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: rem(100);
        }

        ul {
            padding: rem(9);
            li {
                padding: rem(5);

                :hover {
                    color: var(--DesaturatedBlue);
                }
                a {
                    font-size: rem(20);
                    color: var(--LightGrayishBlue);
                }
            }
        }
    }

    &__nav-second {

        @include breakpoint(large) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: rem(100);
        }
        ul {
            padding: rem(9);
            li {
                padding: rem(5);

                :hover {
                    color: var(--DesaturatedBlue);
                }
                a {
                    font-size: rem(20);
                    color: var(--LightGrayishBlue);
                }
            }
        }
    }

    &__social {
        text-align: center;
        padding: rem(30);

        @include breakpoint(large) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: rem(50);
        }

        .facebook {
            margin: rem(10);
        }

        .twitter {
            margin: rem(10);
        }

        .instagram {
            margin: rem(10);
        }
    }
}