@use "../util" as *;


.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo logo nav";
    

    &__logo {
        grid-area: logo;

        img {
            max-width: 100%;
            height: auto;
            margin: rem(15);
        }

        @include breakpoint(large) {
           margin: rem(20);
        }
    }

        &__nav {
        
            @include breakpoint(large) {
                margin: rem(20);
                
            }
            
        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint(large) {
                justify-content: end;
            }

            li {
            padding: rem(15);

            @include breakpoint(large) {
                padding: rem(20);
            }

            a {
                font-size: rem(18);
                color: var(--VeryDarkBlue);

                @include breakpoint(large) {
                    font-size: rem(20);
                }
            }
        }
        }
    }
    }

.first {
    grid-area: div1;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        

        @include breakpoint(large) {
           flex-direction: row-reverse;
           flex-wrap: nowrap;
           align-items:center;
        }

        &__image {
            margin: rem(10);
                    
        img {
            max-width: 100%;
            height: auto;
            }
        }

        &__test {
            @include breakpoint(large) {
                margin: rem(15);
                padding: 20px;
            }
        }

        &__heading {
            padding: rem(10);
            margin: rem(15);
            font-size: rem(19);
            text-align: center;

            @include breakpoint(large) {
                font-size: rem(20);
                text-align: left;
            }
        }

        &__explain {
            padding: rem(10);
            width: 100%;
            color: var(--DesaturatedBlue);
            font-size: rem(19);
            font-weight: 700;

            @include breakpoint(large) {
                font-size: rem(18);
            }

            }

        &__getstarted {

            form { 
                display: flex;
                justify-content: center;
                flex-direction: column;

                @include breakpoint(large) {
                    flex-direction: row;
                    justify-content: left;
                }
                        
                input[type=email] {
                    align-self: center;
                    border: rem(2) solid var( --DesaturatedBlue);
                    border-radius: rem(4);
                    padding: rem(15);
                    width: rem(400);
                    margin: rem(15);
                    font-size: rem(18);
                    
                    }

                input[type=button] {
                    border: none;
                    border-radius: rem(4);
                    width: rem(400);
                    padding: rem(15);
                    text-align: center;
                    align-self: center;
                    background: var(--BrightBlue);
                    color: var(--LightGrayishBlue);
                    font-size: rem(18);
                    font-weight: 700;

                    @include breakpoint(large) {
                        width: rem(200);
                    }
                }
                }
            } 
        }
        
    }

.second {
    grid-area: div2;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: rem(20);
        margin: rem(20) 0 rem(20) 0;

        @include breakpoint(large) {
            justify-content: baseline;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
        }

        &__image {
            margin-bottom: rem(50);
          
            img {
                max-width: 100%;
                height: auto;
            }
        }

        &__test2 {
            @include breakpoint(large) {
                display: flex;
                justify-content: left;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        &__heading {
            padding: rem(10);
            margin: rem(15);
            font-size: rem(18);
            text-align: center;
            color: var(--VeryDarkBlue);
        }

        &__explain {
            padding: rem(10);
            text-align: center;
            color: var(--DesaturatedBlue);
            font-size: rem(18);

            @include breakpoint(large) {
                text-align: left;
            }

            p {
                margin-bottom: rem(15);
            }
            }

        &__work {
            display: flex;
            justify-content: center;
            flex-direction: row;

            a {
                color: var(--ModerateCyan);
                border-bottom: rem(2) solid var(--ModerateCyan);
                padding: rem(10);
                font-size: rem(18);
                
                
                img {
                    margin-left: rem(8);
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
        }

        &__comment {
            margin-top: rem(30);
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0 0 rem(7) rem(3) #BCBCBC;
            padding: rem(20);
            border-radius: rem(5);
            background: var(--LightGrayishBlue);

            @include breakpoint(large) {
                margin-right: rem(50);
            }

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: rem(10);
                margin-left: rem(5);
            }
            
            p {
                
                color: var(--VeryDarkBlue);
                font-size: rem(18);
            }

            .author {
                display: flex;
                justify-content: baseline;
                padding: rem(15);

               .box { 
               img {
                   border-radius: 50%;
                   max-width: 100%;
                   height: auto;
               }
            }
                .box2{
                    padding: rem(6);
                    display: flex;
                    justify-content: baseline;
                    flex-direction: column;
               p {
                   margin-bottom: rem(2);
                   text-align: left;
                   font-size: rem(16);
                   font-weight: 700;
                   
               }
               
               span {
                    color: var(--DesaturatedBlue);
                    font-size: rem(13);
                    font-weight: 400;
               }
            }
            }
        }
    }
}

.third {
    grid-area: div3;
    background: var(--DesaturatedBlue);
        
    .card {   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        padding: rem(50) rem(15) rem(50) rem(15);
        color: var(--LightGrayishBlue);

        @include breakpoint(large) {
            flex-direction: row;
            flex-wrap: nowrap;

        }

        &__test3 {
            @include breakpoint(large) {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: rem(20);
                margin-right: rem(50);
            }
        }

        &__acces {
            margin-bottom: rem(15);
            font-size: rem(25);
            text-align: center;

            @include breakpoint(large) {
                text-align: left;
                padding: rem(15);
            }
        }

        &__explain {
            margin-bottom: rem(15);
            font-size: rem(20);
            padding: rem(10);
            text-align: center;
            
            @include breakpoint(large) {
                text-align: left;
                padding: rem(15);
            }
        }

        form { 
            display: flex;
            justify-content: center;
            flex-direction: column;
                    
            input[type=email] {
                align-self: center;
                border: rem(2) solid var( --DesaturatedBlue);
                border-radius: rem(4);
                padding: rem(15);
                width: rem(400);
                margin: rem(15);
                font-size: rem(17);

                @include breakpoint(large) {
                   align-self: baseline;
                }
                }

            input[type=button] {
                border: none;
                border-radius: rem(4);
                width: rem(400);
                padding: rem(15);
                text-align: center;
                align-self: center;
                background: var(--BrightBlue);
                color: var(--LightGrayishBlue);
                font-size: rem(17);
                font-weight: 700;

                @include breakpoint(large) {
                    width: rem(200);
                    align-self: baseline;
                    font-size: rem(15);
                    margin-left: rem(17);
                }
            }
            }
    }
}

    .footer {
        grid-area: footer;
        background: var(--VeryDarkBlue);
        width: 100%;
        padding: rem(25);

        @include breakpoint(large) {
            display: flex;
            justify-content: baseline;
            flex-wrap: wrap;
            flex-direction: row;
        }

        &__test4 {
            @include breakpoint(large) {
                margin: rem(20);
            }
        }

        &__logo {
            margin-bottom: rem(20);
            
            img {
                color: var(--LightGrayishBlue);
            }
        }

        &__phone{
            font-size: rem(17);
            color: var(--LightGrayishBlue);


            img {
                max-width: 100%;
                height: auto;
                margin: rem(10);
                vertical-align: middle;
            }
        }

        &__mail {
            font-size: rem(17);
            color: var(--LightGrayishBlue);

            img {
                max-width: 100%;
                height: auto;
                margin: rem(10);
                vertical-align: middle;
            }
        }

        &__nav-first {

            @include breakpoint(large) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: rem(100);
            }

            ul {
                padding: rem(9);
                li {
                    padding: rem(5);
                    a {
                        font-size: rem(20);
                        color: var(--LightGrayishBlue);
                    }
                }
            }
        }

        &__nav-second {

            @include breakpoint(large) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: rem(100);
            }
            ul {
                padding: rem(9);
                li {
                    padding: rem(5);
                    a {
                        font-size: rem(20);
                        color: var(--LightGrayishBlue);
                    }
                }
            }
        }

        &__social {
            text-align: center;
            padding: rem(30);

            @include breakpoint(large) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: rem(50);
            }

            .facebook {
                margin: rem(10);
            }

            .twitter {
                margin: rem(10);
            }

            .instagram {
                margin: rem(10);
            }
        }

        .attribution {
            text-align: center;
            color: var(--LightGrayishBlue);
        }
    }